[submodule "libraries/Remora.Sdk/src/Remora.Sdk"]
	path = libraries/Remora.Sdk/src/Remora.Sdk
	url = https://github.com/Remora/Remora.Sdk.git
[submodule "libraries/Remora.Discord/src/Remora.Discord"]
	path = libraries/Remora.Discord/src/Remora.Discord
	url = https://github.com/Remora/Remora.Discord.git
[submodule "templates/discordfx"]
	path = templates/discordfx
	url = https://github.com/jbltx/DiscordFX.git
[submodule "templates/shortanchor"]
	path = templates/shortanchor
	url = https://github.com/MazeXP/DocFX.ShortAnchor.git
[submodule "src/Remora.Discord"]
	path = src/Remora.Discord
	url = https://github.com/Remora/Remora.Discord.git
[submodule "src/Remora.Sdk"]
	path = src/Remora.Sdk
	url = https://github.com/Remora/Remora.Sdk.git
